.section-home {
    width: 95%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
}
.chuckwudi-container{
    display: flex;
}
.chuckwudi{
    font-weight: bold;
    font-size: xx-large;
    margin-right: 8px;
}
.input{
    display: block;
    width: 100%;
    margin: 6px;
    color: black;
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 100px;
    padding: 10px 10px 5px 5px;
}
.input:focus{
    outline: none;
}
.shopping-cart{
    cursor: pointer;
    width: 40px;
    margin: 10px;
}
.responsive{
    display: block;
    width: 100%;
    margin: 6px;
    color: black;
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 100px;
    padding: 10px 10px 5px 5px;

}
.header-container{
    width: 100%;
    background: rgba(189, 189, 181, 0.31);
    display: flex;
    margin: 70px 20px;
    place-content: space-between;
    border-radius: 50px;

}
.image{
    margin-left: 10px;
}

.header-image{
    overflow: visible;
    margin-top: -50px;
}

.header-delivery-days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-delivery-days > p {
    display: flex;
    font-size: x-large;
}

.header-delivery-days > p > img{
    display: flex;
    height: 35px;
    margin-left: 15px;
}
.container-more{
    display: flex;
    margin-right: 14px;
    align-items: flex-end;
}
.container-more > a{
    display: flex;
    margin: 6px;
}
.arrow-more{
    width: 20px;
    margin-left: 10px;
}

.section-delivery{
    display: flex;
    margin: 10px;
    place-content: space-between;
}
.restaurant-container > p{
    display: flex;
    height: 25px;
    font-size: x-large;
}
.burger {
    height: 30px;
    margin-left: 10px;
}
.button-delivery{
    display: flex;
    align-items: center;
    background: #fd6123;
    border-radius: 100px;
    padding: 6px;
}
.button-delivery > img{
    width: 20px;
    margin: 6px;
}
.delivery-container-button{
    display: flex;
}
.delivery-container-button > p {
    color: white;
}
.delivery-container-button > span{
    color: white;
    margin-left: 6px;
    font-weight: bold;
}
.arrow-delivery{
    width: 10px;
    margin: 5px;
    rotate: 90deg;
    filter: invert(1);
}
.products-home{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 60vh));
    margin: 6px;
    width: fit-content;
}
@media only screen and (max-width: 1080px){
    .products-home{
        grid-template-columns: repeat(2, minmax(0, 60vh));

    }
}


@media only screen and (max-width: 600px){
    .input{
        display: none;
    }
    .products-home{
        grid-template-columns: repeat(1, minmax(0, 60vh));

    }
    .header-image{
        display: none;
    }
    .header-container{
        height: 200px;
        margin-left: 6px;

    }
    .header-delivery-days {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .container-more a{
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    .responsive{
        display: none;

    }


}
